/**
 * See https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html for more CSS variables.
 * Or use your own colors. Both work, but using your own colors may break the automatic light/dark theme function.
 */

window {
  background-color: rgba(18, 18, 18, 1);
}

button {
  color: oklab(from var(--view-fg-color) var(--standalone-color-oklab));
  background-color: var(--view-bg-color);
  border: none;
  padding: 10px;
}

button label.action-name {
  font-size: 24px;
}

button label.keybind {
  font-size: 20px;
  font-family: monospace;
}

button:hover label.keybind,
button:focus label.keybind {
  opacity: 1;
}

button:focus,
button:hover {
  background-color: color-mix(
    in srgb,
    var(--accent-bg-color),
    var(--view-bg-color)
  );
}

button:active {
  color: var(--accent-fg-color);
  background-color: var(--accent-bg-color);
}

button#shutdown {
  --view-fg-color: #ff8d8d;
}

button#hibernate {
  --view-fg-color: #a8c0ff;
}

button#reboot {
  --view-fg-color: #84ffaa;
}

button#lock {
  --view-fg-color: #ffe8b6;
}

button#logout {
  --view-fg-color: #ffcca8;
}

button#suspend {
  --view-fg-color: #caaff9;
}
