* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

/* Fix Coloring issue */
button,
label {
  all: unset;
}

#memory {
  color: #f5e0dc;
}

#cpu {
  border-radius: 15px 0px 0px 15px;
  color: #cba6f7;
  padding: 5px 10px;
  margin: 5px 0px;
}

window#waybar {
  background: transparent;
  color: white;
}

tooltip {
  background: #0f0f0f;
  border-radius: 15px;
  border-width: 2px;
  border-style: none;
  border-color: #262626;
}

#workspaces button {
  padding: 2px 5px;
  color: #cba6f7;
}

#workspaces button.focused {
  color: #0f0f0f;
  background-color: #c49ec4;
  border-radius: 15px;
}

#workspaces button.urgent {
  color: #0f0f0f;
  background-color: #9ec3c4;
  border-radius: 15px;
}

#workspaces button:hover {
  background-color: #c49ec4;
  color: #0f0f0f;
  border-radius: 15px;
}

#custom-date,
#custom-notification,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#disk,
#tray,
#memory,
#workspaces {
  background-color: #181825;
  padding: 5px 10px;
  margin: 5px 0px;
}

#custom-launcher {
  padding: 5px 10px;
  margin: 5px 0px;
  background-color: #1e1e2e;
  color: #1793d1;
  border-radius: 0px 15px 15px 0px;
}

/* #tray {
  background-color: #1e1e2e; 
  border-radius: 0px 15px 15px 0px;
} */

#workspaces {
  background-color: #1e1e2e;
  border-radius: 15px 0px 0px 15px;
}

#custom-date {
  color: #89dceb;
}

#clock {
  color: #cba6f7;
  border-radius: 0px 15px 15px 0px;
}

#battery {
  color: #f38ba8;
}

#network {
  color: #fab387;
  border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
  color: #a6e3a1;
}
