#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
  default_album_art_path: None,
  show_song_table_header: true,
  draw_borders: true,
  browser_column_widths: [20, 38, 42],
  background_color: "#1e1e2e",
  text_color: "#cdd6f4",
  header_background_color: None,
  modal_background_color: "#181825",
  tab_bar: (
    enabled: true,
    active_style: (fg: "#1e1e2e", bg: "#89b4fa", modifiers: "Bold"),
    inactive_style: (),
  ),
  highlighted_item_style: (fg: "#cba6f7", modifiers: "Bold"),
  current_item_style: (fg: "#1e1e2e", bg: "#89b4fa", modifiers: "Bold"),
  borders_style: (fg: "#89b4fa"),
  highlight_border_style: (fg: "#89b4fa"),
  symbols: (song: "󰎇", dir: "󰉋", marker: " ", ellipsis: "..."),
  progress_bar: (
    symbols: ["", "", " "],
    track_style: (fg: "#313244"),
    elapsed_style: (fg: "#89b4fa"),
    thumb_style: (fg: "#89b4fa", bg: "#313244"),
  ),
  scrollbar: (
    symbols: ["│", "█", "▲", "▼"],
    track_style: (),
    ends_style: (),
    thumb_style: (fg: "#89b4fa"),
  ),
  song_table_format: [
    (prop: (kind: Property(Artist), default: (kind: Text("Unknown"))), width: "15%"),
    (prop: (kind: Property(Title), default: (kind: Text("Unknown"))), width: "55%"),
    (prop: (kind: Property(Album), style: (fg: "#94e2d5"), default: (kind: Text("Unknown Album"), style: (fg: "#94e2d5"))), width: "20%"),
    (prop: (kind: Sticker("playCount"), default: (kind: Text("0"))), width: "9", alignment: Right, label: "Playcount"),
    (prop: (kind: Property(Duration), default: (kind: Text("-"))), width: "10%", alignment: Right),
  ],
  layout: Split(
    direction: Vertical,
    panes: [
      (pane: Pane(Header), size: "2"),
      (pane: Pane(Tabs), size: "3"),
      (pane: Pane(TabContent), size: "100%"),
      (pane: Pane(ProgressBar), size: "1"),
    ],
  ),
  header: (
    rows: [
      (
        left: [
          (kind: Text("["), style: (fg: "#f9e2af", modifiers: "Bold")),
          (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#f9e2af", modifiers: "Bold")),
          (kind: Text("]"), style: (fg: "#f9e2af", modifiers: "Bold"))
        ],
        center: [
          (kind: Property(Song(Title)), style: (modifiers: "Bold"), default: (kind: Text("No Song"), style: (modifiers: "Bold")))
        ],
        right: [
          (kind: Property(Widget(Volume)), style: (fg: "#89b4fa"))
        ]
      ),
      (
        left: [
          (kind: Property(Status(Elapsed))),
          (kind: Text(" / ")),
          (kind: Property(Status(Duration))),
          (kind: Text(" (")),
          (kind: Property(Status(Bitrate))),
          (kind: Text(" kbps)"))
        ],
        center: [
          (kind: Property(Song(Artist)), style: (fg: "#f9e2af", modifiers: "Bold"), default: (kind: Text("Unknown"), style: (fg: "#f9e2af", modifiers: "Bold"))),
          (kind: Text(" - ")),
          (kind: Property(Song(Album)), default: (kind: Text("Unknown Album")))
        ],
        right: [
          (
            kind: Property(Widget(States(active_style: (fg: "#cdd6f4", modifiers: "Bold"), separator_style: (fg: "#cdd6f4")))),
            style: (fg: "#45475a")
          ),
        ]
      ),
    ],
  ),
  browser_song_format: [
    (kind: Group([(kind: Property(Track)), (kind: Text(" "))])),
    (kind: Group([(kind: Property(Artist)), (kind: Text(" - ")), (kind: Property(Title))]), default: (kind: Property(Filename))),
  ],
)
