name: Update Flakes

on:
  workflow_dispatch:
  schedule:
    # Sunday 17:00 UTC  →  Monday 02:00 JST
    - cron: "0 17 * * 0"
    # Wednesday 17:00 UTC  →  Thursday 02:00 JST
    - cron: "0 17 * * 3"

jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Lix
        uses: DeterminateSystems/nix-installer-action@v20
        with:
          diagnostic-endpoint: ""
          source-url: "https://install.lix.systems/lix/lix-installer-x86_64-linux"

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          sign-commits: true
          commit-msg: "chore: Update flake.lock" # The message provided with the commit
          pr-title: "Update flake.lock" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            automated
            keep-up-to-date
